.idea
*.iml
coverage.txt
coverage.html
bin/
/target/
.gradle/
**/build/
vscode-ext/node_modules/
*.vsix
*.txt
.codex
report
/testdata/runtime/execution.json.gz
/testdata/runtime/stdlib.json.gz
/playground/runtime-rust/assets/compiler.json.gz
.cache
